# Compiled class file
*.class

# Package Files #
*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#build system outputs
out/
.gradle/
**/build/

#since this project is effectively a gradle project, I'm removing the .idea folder
.idea/

#gradle local settings
settings.gradle